<% if @rooms.size == 0 %>
    <div class="center">
      <p style="font-style: italic">A kosarad üres</p>
    </div>
<% else %>

    <div class="well well-sm">
      <div class="row">
        <%= simple_form_for @cart, url: {controller: 'cart', action: 'add'} do |c| %>
            <div class='col-md-5'>
              <div class="form-group">
                <div class='input-group'>
                  <%= c.text_field :start_date, class: 'form-control', disabled: true %>
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <div class='input-group'>
                  <%= c.text_field :num_of_nights, class: 'form-control', disabled: true %>
                  <span class="input-group-addon"><i class="fa fa-moon-o"></i></span>
                </div>
              </div>
            </div>
            <div class='col-md-5'>
              <div class="form-group">
                <div class='input-group'>
                  <%= c.text_field :end_date, class: 'form-control', disabled: true %>
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>

    <table class="table table-bordered">
      <% @rooms.each do |r| %>
          <tr>
            <td class="fit-content"><%= image_tag r.image.url, size: '75' %></td>
            <td>
              <%= link_to r.name, r %><br />
              <small><%= r.accommodation.name %></small><br />
              <% r.capacity.times do %><i class="fa fa-bed"></i>&nbsp<% end %>
            </td>
            <td class="fit-content"><%= @room_count[r.id] %></td>
            <td class="fit-content"><%= r.price.value_with_vat %>&nbsp<%= r.price.currency %>/éj</td>
            <td class="fit-content">
              <%= simple_form_for @cart, url: {controller: 'cart', action: 'remove'} do |c| %>
                  <%= c.hidden_field :room_id, :value => r.id %>
                  <%= c.hidden_field :cart_id, :value => @cart.id %>
                  <%= c.button :submit, 'Töröl', class: 'btn-danger btn-xs' %>
              <% end %>
            </td>
          </tr>
      <% end %>
    </table><br />

    <div class="well" align="right">
      A foglalás teljes ára: <strong><%= @total_price['value'] %>&nbsp<%= @total_price['currency'] %></strong><br/>
      <small>A feltüntetett árak tartalmazzák a 27%-os ÁFA-t. Az éjszakánként fizetendő idegenforgalmi adó mértéke szállodánként eltérhet.</small>
    </div>

    <div class="row">
      <div class="col-md-6">
        <%= simple_form_for @cart , url: {controller: 'cart', action: 'clear'} do |c| %>
            <%= c.hidden_field :cart_id, :value => @cart.id %>
            <%= c.button :submit, 'Kiürít', class: 'btn-warning' %>
        <% end %>
      </div>
      <div class="col-md-6">
        <%= simple_form_for @cart , url: {controller: 'cart', action: 'book'} do |c| %>
            <%= c.hidden_field :booking_id, :value => @cart.id %>
            <%= c.button :submit, 'Foglal', class: 'btn-success right' %>
        <% end %>
      </div>
    </div>

<% end %>