<div class="narrow-60">

  <h2>Vendég regisztráció</h2>

  <%= form_for @guest do |g| %>

      <div class="form-group">
        <%= g.label "Név" %>
        <%= g.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= g.label "Telefon" %>
        <%= g.text_field :phone, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= g.label "Születési dátum" %><br />
        <%= g.date_select :day_of_birth, class: "form-control" %>
      </div>

      <%= g.fields_for :address do |address_form| %>
          <div class="form_group">
            <%= address_form.label "Ország" %>
            <%= address_form.text_field :country, class: "form-control" %>
          </div>

          <div class="form_group">
            <%= address_form.label "Irányítószám" %>
            <%= address_form.text_field :zip, class: "form-control" %>
          </div>

          <div class="form_group">
            <%= address_form.label "Település" %>
            <%= address_form.text_field :city, class: "form-control" %>
          </div>

          <div class="form_group">
            <%= address_form.label "Cím" %>
            <%= address_form.text_field :address, class: "form-control" %>
          </div>
      <% end %>


      <%= g.fields_for :user do |u| %>

          <div class="form-group">
            <%= u.label "E-mail" %>
            <%= u.email_field :email, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= u.label "Jelszó" %>
            <% if @validatable %>
                <em>(legalább <%= @minimum_password_length %> karakter hosszú)</em>
            <% end %>
            <%= u.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= u.label "Jelszó újra" %>
            <%= u.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
          </div>

      <% end %>

      <div class="form-group">
        <%= g.submit "Regisztráció", class: "btn btn-primary" %>
      </div>
  <% end %>

</div>