<div class="narrow-60">

  <h2>Vendég regisztráció</h2>

  <%= simple_form_for @guest do |g| %>

      <%= render 'errors' %>

      <%= g.input :name, label: 'Teljes név', autofocus: true %>
      <%= g.input :phone, label: 'Telefon' %>
      <%= g.input :day_of_birth, as: :date, start_year: Date.today.year - 90,
                  end_year: Date.today.year - 12,
                  order: [:year, :month, :day] %>

      <%= g.fields_for :address do |a| %>
          <%= a.input :country, label: 'Ország' %>
          <%= a.input :zip, label: 'Irányítószám' %>
          <%= a.input :city, label: 'Város' %>
          <%= a.input :address, label: 'Cím' %>
      <% end %>


      <%= g.fields_for :user do |u| %>
          <%= u.input :email, label: 'Email' %>
          <%= u.input :password, label: 'Jelszó', autocomplete: 'off' %>
          <%= u.input :password_confirmation, label: 'Jelszó újra', autocomplete: 'off' %>
      <% end %>

      <%= g.button :submit, 'Regisztráció', class: 'btn-primary' %>
  <% end %>

</div>