<table class="table table-bordered">
    <thead>
        <tr>
          <th>Megnevezés</th>
          <th>Kód</th>
          <th><%= link_to 'New Serviice', new_serviice_path, class: 'btn btn-success btn-xs' %></th>
        </tr>
    </thead>

    <% @serviices.each do |serviice| %>
      <tr>
        <td><%= serviice.name %></td>
        <td><%= serviice.code %></td>
        <td class="col-md-1" align="center">
          <%= link_to raw("<i class='fa fa-pencil-square-o'></i>"), edit_serviice_path(serviice) %>&nbsp;
          <%= link_to raw("<i class='fa fa-trash'></i>"), serviice, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
</table>
