<div class="narrow-60">

  <h2>Szállásadó regisztráció</h2>

  <%= simple_form_for @owner do |o| %>

      <%= render 'errors' %>

      <%= o.input :name, label: 'Megnevezés', autofocus: true %>

      <%= o.fields_for :user do |u| %>
          <%= u.input :email, label: 'Email' %>
          <%= u.input :password, label: 'Jelszó', autocomplete: 'off' %>
          <%= u.input :password_confirmation, label: 'Jelszó újra', autocomplete: 'off' %>
      <% end %>

    <div class="form-group">
      <%= o.submit "Regisztráció", class: "btn btn-primary" %>
    </div>
  <% end %>

</div>