<%= simple_form_for @accommodation, :html => { :multipart => true } do |a| %>
    <% if @accommodation.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@accommodation.errors.count, "error") %> prohibited this accommodation from being saved:</h2>

            <ul>
                <% @accommodation.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <%= a.input :name, label: 'Megnevezés', autofocus: true %>
    <%= a.input :description, label: 'Leírás' %>

    <%= a.fields_for :address do |ad| %>
        <%= ad.input :country, label: 'Ország' %>
        <%= ad.input :zip, label: 'Irányítószám' %>
        <%= ad.input :city, label: 'Város' %>
        <%= ad.input :address, label: 'Cím' %>
    <% end %>

    <%= a.input :categry, collection: Categry.all %>

    <%= a.fields_for :categry do |c| %>

    <% end %>

    <!--<h5><strong>Felszereltség</strong></h5>
     # a.collection_check_boxes(:serviice_ids, Serviice.all, :id, :name) -->
    <%= a.association :serviices, as: :check_boxes, label: 'Felszereltség' %>

    <%= a.input :image, label: 'Kép' %>

    <div class="actions right" >
        <%= a.submit "Mentés", class: "btn btn-primary" %>
    </div>
<% end %>
