<div class="thumbnail">
  <a href="/accommodations/<%= accommodation.id %>">
      <div class="crop">
            <%= image_tag accommodation.image.url %>
      </div>
  </a>
  <div class="caption">
    <div class="row">
      <div class="col-md-9 left">
        <%= link_to accommodation.name, accommodation %><br />
        <small><i class="fa fa-map-marker"></i>&nbsp<%= accommodation.address.city %></small>
      </div>
      <div class="col-md-3 right">
        <span class="label label-warning"><%= CommentHelper.get_random_rating %></span>
      </div>
    </div>

  </div>
</div>