<p id="notice"><%= notice %></p>

<%= link_to 'Szerkesztés', edit_accommodation_path(@accommodation), class: "btn btn-link right" %>

<h2><%= @accommodation.name %></h2>

<p class="italic">
  <%= @accommodation.description %>
</p>

<p>
  <strong>Cím: </strong><%= @accommodation.address.zip %> <%= @accommodation.address.city %>, <%= @accommodation.address.address %>, <%= @accommodation.address.country %>
</p>

<% @accommodation.equipments.map do |equipment| %>
  <span class="label label-info" style="margin-right: 5px;">
     <%= equipment.name %> 
  </span>
<% end %>

<h4>Szobák:</h4>
<div class="row">
  <% @rooms.each do |room| %>
      <div class="col-md-2">
      	<div class="thumbnail">
			<%= image_tag room.image.url %>
			<div class="caption">
        		<%= link_to room.name, room %>
        	</div>
        </div>
      </div>
  <% end %>
</div>

<%= link_to 'Vissza', '/', class: "btn btn-link" %>
