<table class="table table-bordered">
  <thead>
    <tr>
      <th>Megnevezés</th>
      <th>Kód</th>
      <th><%= link_to 'Új felszereltség', new_equipment_path, class: 'btn btn-xs btn-success' %></th>
    </tr>
  </thead>

  <tbody>
    <% @equipment.each do |equipment| %>
      <tr>
        <td><%= equipment.name %></td>
        <td><%= equipment.code %></td>
        <td class="col-md-1" align="center">
          <%= link_to raw("<i class='fa fa-pencil-square-o'></i>"), edit_equipment_path(equipment) %>&nbsp;
          <%= link_to raw("<i class='fa fa-trash'></i>"), equipment, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


