<h2><%= @booking.id %>. számú foglalás</h2>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Foglaló adatai</h2>
  </div>
  <div class="panel-body">
    <table class="table-condensed">
      <tr>
        <td class="fit-content"><strong>Név:</strong></td>
        <td class="full-width">
          <%= text_field_tag nil, @booking.guest.name, class: 'form-control', disabled: true %>
        </td>
      </tr>
      <tr>
        <td class="fit-content"><strong>Született:</strong></td>
        <td class="full-width">
          <div class="input-group full-width">
            <%= text_field_tag nil, @booking.guest.day_of_birth.to_s.gsub!('-','.'), class: 'form-control', disabled: true %>
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          </div>
        </td>
      </tr>
      <tr>
        <td class="fit-content"><strong>Telefonszám:</strong></td>
        <td class="full-width">
          <div class="input-group full-width">
              <%= text_field_tag nil, @booking.guest.phone, class: 'form-control', disabled: true %>
              <span class="input-group-addon"><i class="fa fa-phone"></i></span>
          </div>
        </td>
      </tr>
      <tr>
        <td class="fit-content"><strong>Email cím:</strong></td>
        <td class="full-width">
          <div class="input-group full-width">
              <%= text_field_tag nil, @booking.guest.user.email, class: 'form-control', disabled: true %>
              <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
          </div>
        </td>
      </tr>
      <tr>
        <td class="fit-content"><strong>Lakcím:</strong></td>
        <td class="full-width">
          <div class="input-group full-width">
              <%= text_field_tag nil, @booking.guest.address.full_address, class: 'form-control', disabled: true %>
              <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Időszak</h2>
  </div>
  <div class="panel-body">
      <div class="row">
        <%= simple_form_for @booking, url: {controller: 'cart', action: 'add'} do |c| %>
            <div class='col-md-5'>
              <div class="form-group">
                <div class='input-group'>
                  <%= c.text_field :start_date, class: 'form-control', disabled: true %>
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <div class='input-group'>
                  <%= c.text_field :num_of_nights, class: 'form-control', disabled: true %>
                  <span class="input-group-addon"><i class="fa fa-moon-o"></i></span>
                </div>
              </div>
            </div>
            <div class='col-md-5'>
              <div class="form-group">
                <div class='input-group'>
                  <%= c.text_field :end_date, class: 'form-control', disabled: true %>
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
              </div>
            </div>
        <% end %>
      </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Elhelyezés</h2>
  </div>
  <div class="panel-body">
    <%= form_tag do %>

        <% @rooms.each_with_index do |r,j| %>
            <div class="row">
              <div class="col-md-3">
                <%= render 'rooms/thumbnail', :room => r.room %>
              </div>
              <div class="col-md-9">
                <div class="well">
                  <% i = 0 %>
                  <% while i < r.room.capacity do %>
                      <table class="table-condensed">
                        <tr>
                          <td class="fit-content"><strong>Név:</strong></td>
                          <td class="full-width">
                            <%= text_field_tag nil, @guests["#{@booking.id}#{r.index}#{i+1}"].name, class: 'form-control', disabled: true %>
                          </td>
                        </tr>
                        <tr>
                          <td class="fit-content"><strong>Született:</strong></td>
                          <td class="full-width">
                            <div class="input-group full-width">
                              <%= text_field_tag nil, @guests["#{@booking.id}#{r.index}#{i+1}"].day_of_birth.to_s.gsub!('-','.'), class: 'form-control', disabled: true %>
                              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                          </td>
                        </tr>
                      </table>

                      <% unless i+1 == r.room.capacity %>
                          <div class="separator"></div>
                      <% end %>

                      <% i += 1 %>
                  <% end %>
                </div>
              </div>
            </div>

            <% unless j+1 == @rooms.size %>
                <div class="separator"></div><br/>
            <% end %>
        <% end %>

        <div class="well" align="right">
          <h4>A foglalás vonatkozó részének ára: <strong><%= @total_price['value'] %>&nbsp<%= @total_price['currency'] %></strong></h4>
          <small>A feltüntetett árak tartalmazzák a 27%-os ÁFA-t.</small>
        </div>

    <% end %>
  </div>
</div>

<% if @inherited_booking_status == 'BOOKED' %>
    <div class="panel panel-warning">
     <div class="panel-heading">
       <h2 class="panel-title">Státusz - válaszra vár</h2>
     </div>
      <div class="panel-body" align="center">
          <%= simple_form_for @booking do |b| %>
              <%= b.hidden_field :state, :value => 'DENIED' %>
              <%= b.hidden_field :id %>
              <%= b.button :submit, 'Elutasít', class: 'btn-danger btn-answer-half left' %>
          <% end %>
        <%= simple_form_for @booking do |b| %>
            <%= b.hidden_field :state, :value => 'APPROVED' %>
            <%= b.hidden_field :id %>
            <%= b.button :submit, 'Elfogad', class: 'btn-success btn-answer-half right' %>
        <% end %>
      </div>
    </div>

<% elsif @inherited_booking_status == 'DENIED' %>
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h2 class="panel-title">Státusz - visszautasítva</h2>
      </div>
      <div class="panel-body" align="center">
          A foglalás vissza lett utasítva.
      </div>
    </div>

<% elsif @inherited_booking_status == 'APPROVED' %>
    <div class="panel panel-success">
      <div class="panel-heading">
        <h2 class="panel-title">Státusz - teljesítésre vár</h2>
      </div>
      <div class="panel-body" align="center">
        <%= simple_form_for @booking do |b| %>
            <%= b.hidden_field :state, :value => 'CLOSED' %>
            <%= b.hidden_field :id %>
            <%= b.button :submit, 'Teljesítve', class: 'btn-primary btn-answer-full', disabled: @booking.end_date >= DateTime.now %>
        <% end %>
      </div>
    </div>

<% elsif @inherited_booking_status == 'CLOSED' %>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">Státusz - teljesítve</h2>
      </div>
      <div class="panel-body" align="center">
        A foglalás teljesült.
      </div>
    </div>
<% end %>