<div class="narrow-60">

<%= simple_form_for(@categry) do |c| %>
  <% if @categry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@categry.errors.count, "error") %> prohibited this categry from being saved:</h2>

      <ul>
      <% @categry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= c.input :name, label: 'Megnevezés' %>
    <%= c.input :code, label: 'Kód' %>
    <%= c.input :value, label: 'Érték' %>
    <%= c.button :submit, 'Mentés', class: 'btn-primary' %>

<% end %>

</div>