<h1>Listing categries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Value</th>
      <th>Accommodation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categries.each do |categry| %>
      <tr>
        <td><%= categry.name %></td>
        <td><%= categry.code %></td>
        <td><%= categry.value %></td>
        <td><%= categry.accommodation_id %></td>
        <td><%= link_to 'Show', categry %></td>
        <td><%= link_to 'Edit', edit_categry_path(categry) %></td>
        <td><%= link_to 'Destroy', categry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Categry', new_categry_path %>
