<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @categry.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @categry.code %>
</p>

<p>
  <strong>Value:</strong>
  <%= @categry.value %>
</p>

<p>
  <strong>Accommodation:</strong>
  <%= @categry.accommodation_id %>
</p>

<%= link_to 'Edit', edit_categry_path(@categry) %> |
<%= link_to 'Back', categries_path %>
