<% @properties.each_pair do |group, properties| %>
    <div class="panel panel-default">
      <div class="panel-heading">
         <h3 class="panel-title"><%= group.humanize %></h3>
      </div>
      <div class="panel-body">
        <% properties.each_with_index do |key, idx| %>
            <% property = Property.find_by_key(key) %>
            <%= simple_form_for property, url: {controller: 'settings', action: 'update'} do |p| %>
                <%= p.hidden_field :key %>
                <%= p.input :value, label: property.title, :input_html => { :class => key } %>
                <div align="right">
                    <%= p.button :submit, 'Mentés', class: 'btn btn-success btn-sm' %>
                </div>
            <% end %>
            <% unless idx+1 == properties.size %>
                <div class="divider"></div>
            <% end %>
        <% end %>
      </div>
    </div>
<% end %>
