<div class="narrow-30 narrow-30-center">

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <%= f.input :email, autofocus: true, label: 'E-mail' %>
      <%= f.input :password, label: 'Jelszó' %>
      <%= f.input :remember_me, label: 'Emlékezz rám', as: :boolean %>
      <div class="center">
        <%= f.button :submit, 'Bejelentkezés', class: 'btn btn-primary center' %>
      </div><br/>

<% end %>

<div class="center">
  <%= link_to 'Vendég regisztráció', '/guests/new' %><br />
  <%= link_to 'Szállásadó regisztráció', '/owners/new' %>
</div>

</div>