<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
<% if current_user.owner? || current_user.admin? %>
    <%= link_to 'Szerkesztés', edit_room_path(@room), class: "btn btn-success right" %>
<% end %>
<% end %>


<small><%= @room.accommodation.name %></small>
<h2>
  <%= @room.name %>
</h2>
<% @room.equipments.map do |equipment| %>
  <span class="label label-info" style="margin-right: 5px;">
     <%= equipment.name %> 
  </span>
<% end %>

<p class="italic"><br>
  <%= @room.description %>
</p>

<p>
	<strong>Kapacitás:</strong> <%= @room.capacity %>
</p>

<p>
	<strong>Hasonló szobák száma:</strong> <%= @room.num_of_this %>
</p>

<p>
	<strong>Ár:</strong> <%= @room.price.value_with_vat %> <%= @room.price.currency %> + <%= @room.price.ifa %> <%= @room.price.currency %>/fő/éj IFA
</p><br />

<% if user_signed_in? %>
<% if current_user.guest? %>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Foglalás</h3>
      </div>
      <div class="panel-body">

        <%= form_for @cart, url: {controller: 'cart', action: 'add'} do |c| %>
            <%= c.hidden_field :room_id, :value => @room.id %>
            <%= c.hidden_field :cart_id, :value => @cart.id %>

            <div class='col-md-4'>
                <div class="form-group">
                  <div class='input-group'>
                    <%= c.text_field :start_date, class: 'form-control', disabled: !@cart.start_date.nil?, required: true %>
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                  </div>
                </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                  <div class='input-group'>
                    <%= c.text_field :num_of_nights, class: 'form-control', disabled: true %>
                    <span class="input-group-addon"><i class="fa fa-moon-o"></i></span>
                  </div>
              </div>
            </div>
            <div class='col-md-4'>
                <div class="form-group">
                  <div class='input-group'>
                    <%= c.text_field :end_date, class: 'form-control', disabled: !@cart.end_date.nil?, required: true %>
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                  </div>
                </div>
            </div>

            <div class="col-md-1">
                <%= button_tag 'Foglalás', class: 'btn btn-success', disabled: !BookingsHelper.is_bookable(@room, @cart.start_date, @cart.end_date) %>
            </div>
        <% end %>

      </div>
    </div>
<% end %>
<% end %>

<%= link_to 'Vissza', @room.accommodation %>
