<%= form_for(@room_equipment) do |f| %>
  <% if @room_equipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room_equipment.errors.count, "error") %> prohibited this room_equipment from being saved:</h2>

      <ul>
      <% @room_equipment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :room_id %><br>
    <%= f.number_field :room_id %>
  </div>
  <div class="field">
    <%= f.label :equipment_id %><br>
    <%= f.number_field :equipment_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
