<p id="notice"><%= notice %></p>

<p>
  <strong>Room:</strong>
  <%= @room_equipment.room_id %>
</p>

<p>
  <strong>Equipment:</strong>
  <%= @room_equipment.equipment_id %>
</p>

<%= link_to 'Edit', edit_room_equipment_path(@room_equipment) %> |
<%= link_to 'Back', room_equipments_path %>
