<div align="center">
  <button id="filter_button" class="btn btn-default" onclick="showOrHideFilterPanel();">
    Szűrés <i class="fa fa-chevron-down"></i>
  </button>
  <a href="/smartfilter" style="float: right" class="btn btn-primary">Intelligens keresés&nbsp&nbsp<i class="fa fa-chevron-right"></i></a>
</div><br />

<div class="well" id="filter_panel" style="display: none;">

    <%= simple_form_for @filter, url: {controller: 'filter', action: 'filter'} do |f| %>
        <%= f.hidden_field :filter, :value => :fine %>
        <%= hidden_field_tag :base_url, '/rooms' %>

      <div class="row">
        <div class='col-md-4'>
          <div class="form-group">
            <div class='input-group'>
              <%= text_field_tag :city, nil, class: 'form-control', placeholder: 'Város' %>
              <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
            </div>
          </div>
        </div>

        <div class='col-md-3'>
          <div class="form-group">
            <div class='input-group'>
              <%= text_field_tag :start_date, nil, class: 'form-control', placeholder: 'Érkezés' %>
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
          </div>
        </div>

        <div class='col-md-3'>
          <div class="form-group">
            <div class='input-group'>
              <%= text_field_tag :end_date, nil, class: 'form-control', placeholder: 'Távozás' %>
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
          </div>
        </div>

        <div class='col-md-2'>
            <div class="form-group">
              <div class='input-group'>
                <%= number_field_tag :capacity, nil, class: 'form-control', placeholder: 'Ágyak' %>
                <span class="input-group-addon"><i class="fa fa-hotel"></i></span>
              </div>
            </div>
        </div>

      </div>
      <div class="row">

        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">Felszereltség</div>
            <div class="panel-body">
              <div class="checkbox">
                <%= f.collection_check_boxes(:equipment_ids, Equipment.all, :id, :name, {:item_wrapper_class => 'checkbox_container'}) %>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">Szolgáltatások</div>
            <div class="panel-body">
              <div class="checkbox">
                <%= f.collection_check_boxes(:serviice_ids, Serviice.all, :id, :name, {:item_wrapper_class => 'checkbox_container'}) %>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="row" align="center">
        <%= button_tag 'Szűrés' , class: 'btn btn-success' %>
      </div>
    <% end %>

</div>


<script type="application/javascript">
    function showOrHideFilterPanel() {
        var isVisible = $('#filter_panel').css('display') == 'block';

        if (isVisible) {
            $('#filter_panel').slideUp();
            $('#filter_button').html('Szűrés <i class="fa fa-chevron-down"></i>');
        } else {
            fill_inputs();
            $('#filter_panel').slideDown();
            $('#filter_button').html('Szűrés <i class="fa fa-chevron-up"></i>');
        }
    }

    function fill_inputs() {
        fill_dates();
        fill_city();
        fill_capacity();
        fill_equipments();
        fill_serviices();
    }

    function fill_dates() {
        <% if params.has_key?(:start_date) && params.has_key?(:end_date) %>
        $('#start_date').val("<%= params[:start_date] %>");
        $('#end_date').val("<%= params[:end_date] %>");
        <% end %>
    }

    function fill_city() {
        <% if params.has_key? :city %>
        $('#city').val("<%= params[:city] %>");
        <% end %>
    }

    function fill_capacity(capacity) {
        <% if params.has_key? :capacity %>
        $('#capacity').val("<%= params[:capacity] %>");
        <% end %>
    }

    function fill_equipments() {
        <% if params.has_key? :equipment_ids
           params[:equipment_ids].split(',').each do |e| %>
            $('#filter_equipment_ids_<%= e %>').prop('checked', true);
        <% end end %>
    }

    function fill_serviices() {
        <% if params.has_key? :serviice_ids
           params[:serviice_ids].split(',').each do |s| %>
        $('#filter_serviice_ids_<%= s %>').prop('checked', true);
        <% end end %>
    }

    var setupFilterDatePickers = function() {
        var start_date = $('#start_date');
        var end_date = $('#end_date');

        start_date.datetimepicker({
            locale: "hu",
            calendarWeeks: true,
            format: "YYYY.MM.DD"
        });
        start_date.data("DateTimePicker").setMinDate(new Date());

        end_date.datetimepicker({
            locale: "hu",
            calendarWeeks: true,
            format: "YYYY.MM.DD"
        });

        start_date.on("dp.change", function (e) {
            end_date.data("DateTimePicker").setMinDate(e.date.add(1, 'days'));
            if(end_date.data("DateTimePicker").date <= e.date){
                end_date.data("DateTimePicker").setDate(e.date);
            }
        });
    };

    var ready = function() {
        setupFilterDatePickers();
    };

    $(document).ready(ready);
    $(document).on('page:load', ready);
</script>