<div class="center">
  <button id="filter_button" class="btn btn-default" onclick="showOrHideFilterPanel();">
    Szűrés <i class="fa fa-chevron-down"></i>
  </button>
  <a href="/smartfilter" style="float: right" class="btn btn-primary">Intelligens keresés&nbsp&nbsp<i class="fa fa-chevron-right"></i></a>
</div><br />

<div class="well" id="filter_panel" style="display: none;">

    <%= simple_form_for @filter, url: {controller: 'filter', action: 'filter'} do |f| %>
        <%= f.hidden_field :filter, :value => :fine %>
        <%= f.hidden_field :base_url, :value => base_url %>

      <div class="row">
        <div class='col-md-4'>
          <div class="form-group">
            <div class='input-group'>
              <%= f.text_field :city, class: 'form-control', placeholder: 'Város' %>
              <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
            </div>
          </div>
        </div>

        <div class='col-md-3'>
          <div class="form-group">
            <div class='input-group'>
              <%= f.text_field :start_date, class: 'form-control', placeholder: 'Érkezés' %>
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
          </div>
        </div>

        <div class='col-md-3'>
          <div class="form-group">
            <div class='input-group'>
              <%= f.text_field :end_date, class: 'form-control', placeholder: 'Távozás' %>
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
          </div>
        </div>

        <div class='col-md-2'>
            <div class="form-group">
              <div class='input-group'>
                <%= f.number_field :capacity, class: 'form-control', placeholder: 'Ágyak' %>
                <span class="input-group-addon"><i class="fa fa-hotel"></i></span>
              </div>
            </div>
        </div>

      </div>
      <div class="row">

        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">Felszereltség</div>
            <div class="panel-body">
              <div class="checkbox">
                <%= f.collection_check_boxes(:equipment_ids, Equipment.all, :id, :name, {:item_wrapper_class => 'checkbox_container'}) %>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">Szolgáltatások</div>
            <div class="panel-body">
              <div class="checkbox">
                <%= f.collection_check_boxes(:serviice_ids, Serviice.all, :id, :name, {:item_wrapper_class => 'checkbox_container'}) %>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="row center">
        <%= f.button :submit, 'Szűrés' , class: 'btn btn-success' %>
      </div>
    <% end %>

</div>


<script type="application/javascript">
    function showOrHideFilterPanel() {
        var isVisible = $('#filter_panel').css('display') == 'block';

        if (isVisible) {
            $('#filter_panel').slideUp();
            $('#filter_button').html('Szűrés <i class="fa fa-chevron-down"></i>');
        } else {
            $('#filter_panel').slideDown();
            $('#filter_button').html('Szűrés <i class="fa fa-chevron-up"></i>');
        }
    }

    var setupFilterDatePickers = function() {
        var start_date = $('#filter_start_date');
        var end_date = $('#filter_end_date');

        start_date.datetimepicker({
            locale: "hu",
            calendarWeeks: true,
            format: "YYYY.MM.DD"
        });
        start_date.data("DateTimePicker").setMinDate(new Date());

        end_date.datetimepicker({
            locale: "hu",
            calendarWeeks: true,
            format: "YYYY.MM.DD"
        });

        start_date.on("dp.change", function (e) {
            end_date.data("DateTimePicker").setMinDate(e.date.add(1, 'days'));
            if(end_date.data("DateTimePicker").date <= e.date){
                end_date.data("DateTimePicker").setDate(e.date);
            }
        });
    };

    var ready = function() {
        setupFilterDatePickers();
    };

    $(document).ready(ready);
    $(document).on('page:load', ready);
</script>