<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">VAGATO</a>
    </div> 

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/rooms">Szobák</a></li>
        <li><a href="/">Szállások</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user fa-2x"></i> U<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <% if current_user.owner? %>
                    <li><%= link_to "Szállásaim", "/szallasaim/" %></li>
                <% end %>
                <% if current_user.guest? %>
                    <li><%= link_to "Fogalásaim", '#' %></li>
                <% end %>
                <li><%= link_to "Profilom", edit_user_registration_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Kijelentkezés", destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>

        <% else %>
            <li><%= link_to "Vendég regisztráció", new_guest_path %></li>
            <li><%= link_to "Szállásadó regisztráció", new_owner_path %></li>
            <li><%= link_to "Bejelentkezés", new_user_session_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
